<div class="wrap">
<!-- <div id="address" style="width: 100%; height: 50px;"></div> -->
<div id='newMap' style="width: 100%; height: 100vh;" data-latitude='' data-longitude=''></div>

<div class="destination-container">
        <%= simple_form_for @trip do |f| %>
          <%= f.input :end_point, placeholder: "Destination", html: {id: "end_point"}, label: false %>
          <%= f.input :start_lat, :as => :hidden, html: {id: "start_lat"}  %>
          <%= f.input :start_long, :as => :hidden, html: {id: "start_long"}  %>
          <%= f.submit "Go !", class: "btn btn-primary" %>
        <% end %>
  </div>
</div>

<%= content_for :after_js do  %>
  <%= javascript_pack_tag "map" %>
  <%= javascript_pack_tag 'trips_new' %>
<% end %>

