<div>
  <div class="map" id="tripMap" style="width: 100%; height: 100vh;"></div>
  <div hidden="true">
    <p id="start_lat" ><%= @trip.start_lat %></p>
    <p id="start_long" ><%= @trip.start_long %></p>
    <p id="end_lat" ><%= @trip.end_lat %></p>
    <p id="end_long" ><%= @trip.end_long %></p>
  </div>
  <div>
  <%= link_to "Share my trip", trip_alerts_path(@trip, kind: "share"), method: :post, class: "share" %>
  </div>
</div>


