<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
<div class="trip-card">
<%= simple_form_for @trip do %>
  <div class="form-group">
    <span style="font-weight:bold"><%= label_tag :start_point, 'Where are you?' %></span>
    <%= text_field_tag :start_point, nil, class: 'form-control', id: 'exampleInputEmail1', placeholder: 'Location' %>
  </div>
  <div class="form-group">
    <span style="font-weight:bold"><%= label_tag :end_point, 'Where are you going?' %></span>
    <%= text_field_tag :end_point, nil, class: 'form-control', id: 'exampleInputPassword1', placeholder: 'Destination' %>
  </div>
    <button type="submit" class="btn btn-primary">Submit</button>
<% end %>
</div>
    </div>
  </div>
</div>
<div id="address" style="width: 100%; height: 50px;"></div>
<div id="map" style="width: 100%; height: 750px;"></div>

