<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable"  content="yes">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.png" />
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
    <title>Whistle</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <!-- <meta name="GOOGLE_API_SERVER_KEY" content="<%#= ENV['GOOGLE_API_SERVER_KEY'] %>"> -->
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_SERVER_KEY']}"%>
    <%= javascript_pack_tag 'application' %>

  </head>
  <body style="background-color: white; position: relative;">
    <% if user_signed_in? %>
      <%= render 'shared/burger' %>
    <% end %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag "application" %>
    <%#= javascript_include_tag "https://maps.googleapis.com/maps/api/js" %>

  </body>
</html>
